<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div style="background-color: #19D1D4; padding:50px 50px;">
	<div style="text-align: center;">
		<h2 style="color:#fff;">NANUM 임시 비밀번호</h2>
		<h4 style="color:#fff;">NANUM 의 임시 비밀번호 입니다.</h4>
	</div>
	<br>
	<div style="text-align: center;">
		<input type="text" style="color:#19D1D4; background:#fff; border-color: #5cc4c3; border-radius:5px; width:250px; padding:6px 12px; font-size:18px; text-align:center;" value="${password}">
	</div>
	<br>
	<div style="text-align: center;">
		<h4 style="color:#fff;">로그인 후 반드시 비밀번호 변경을 통해<br>비밀번호를 재설정 해주세요.</h4>
	</div>
	</div>
</body>
</html>