@CHARSET "UTF-8";


.admin-header{background-color:#16151b;}
.admin-header>div{width: 1024px;}
.admin-header-top{background-color: #16151b; height: 70px;}
.admin-headder-top-nav{text-align: right; padding-top: 15px;}
.admin-headder-top-nav:after{content: ""; display: block; clear: both;}
.admin-headder-top-nav>li{display:inline-block; list-style: none;}
.admin-headder-top-nav>li a{color: #fff; display: block; padding: 0px 15px; font-size: 13px; font-weight: 400;}
.admin-headder-top-nav>li:first-child{border-right: 1px solid #888;}
.admin-logo{overflow: hidden; max-height: 50px;}
.admin-logo h1{color:#fff; margin:10px 0 0 5px;}
.admin-header-nav{background-color: #383a3f;}
.admin-header-nav>ul>li{vertical-align: middle; text-align:center; position:relative; float: left; list-style: none; border-right: 1px solid #333; color: #fff; font-weight: 400; font-size: 13px; display: block; padding: 6px 30px; cursor:pointer;}
.admin-header-nav>ul>li>ul{position: absolute; width:100%; top: 100%; margin-top:-1px; margin-left:-1px; background-color: #fff;border: 1px solid #383a3f; display: none; transition:all ease-out 0.3s; z-index:100;}
.admin-header-nav>ul>li>ul>li{list-style: none; border-bottom: 1px solid #eaeaea;}
.admin-header-nav>ul>li>ul>li:last-child{border-bottom: none;}
.admin-header-nav>ul>li>ul>li>a{color: #000; font-weight: 400; font-size: 12px; display: block; padding: 6px 10px;}
.admin-header-nav>ul:after{content: ""; display: block; clear: both;}
.admin-header-nav>ul>li:hover ul{display: block;}
.admin-header-nav>ul>li:hover{background-color: #1e1e1e;}
.admin-header-nav>ul>li>ul>li>a:hover{background-color: #595b61; color: #fff;}

/*admin-container*/
.admin-container{width: 1024px; margin: 0 auto; box-sizing:border-box;}
.container-body{margin-bottom:70px;}
.admin-top{}
.admin-top>div{font-size:14px;}

.container-body table{width:100%;}
.container-body table, .container-body td, .container-body th{border-collapse:collapse; border:1px solid #e5e5e5;}
.admin-report-btn{cursor:pointer;}
.container-body td{font-size:13px; font-weight:400; padding:5px; text-align:center;}
.container-body th{font-size:14px; font-weight:400; background-color:#383a3f; color:#FFFFFF; padding:7px;}
.admin-report-view{position:absolute; top:100%; width:300px; border:2px solid #383a3f; right:0; text-align:left; background-color:#FFFFFF; z-index:10; padding:10px; font-size:14px; font-weight:400; display:none;}
.admin-report-btn:hover+.admin-report-view{display:block;}
.admin-header-nav .active{background-color: #1e1e1e; color: #fff;}
